<div class="crater-browse crater-bg">
  <div *ngFor="let message of messages" class="p-0 crater-message">
    <div class="flex-grow-0 crater-image-container">
      <img [src]="message.thumbnailUrl" class="crater-image" />
    </div>

    <div class="crater-title">
      <h3>
        <a href="{{ message.url }}" class="text-light">{{ message.title }}</a>
      </h3>
    </div>

    <div class="container flex-grow-1 ml-0 px-0 crater-description">
      <div class="px-3 py-0" style="overflow: hidden;">
        <p>{{ message.content }}</p>
      </div>
    </div>

    <div class="px-3 py-1 crater-date">
      Data publikacji: {{ message.datePublished | date: 'fullDate' }} (
      {{ message.datePublished | date: 'shortTime' }} )
    </div>
  </div>
</div>
